@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

@layer components {
  .headerBtn {
    @apply rounded-md bg-white px-2 py-1 text-blue-700 duration-200 ease-in-out hover:scale-105 hover:bg-green-500 hover:text-white;
  }

  .headerItem {
    @apply flex cursor-pointer items-center space-x-4 px-4 py-2;
  }

  .headerActive {
    @apply rounded-2xl border border-white;
  }

  .bookingItem {
    @apply flex flex-grow cursor-pointer items-center space-x-4;
  }

  .bookingOptionsOperationBtn {
    @apply flex h-8 w-8 flex-grow cursor-pointer select-none items-center justify-center rounded-full border border-gray-500 p-2;
  }

  .bookingOptionsOperationBtn:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }

  .arrow {
    @apply absolute cursor-pointer text-5xl text-gray-400 opacity-80 duration-150 ease-in hover:opacity-100;
  }

  .sidebarItem {
    @apply ml-2 flex cursor-pointer items-center gap-2 text-2xl font-semibold text-blue-700;
  }
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button {
  cursor: pointer;
}
